.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
/android/app/key.properties
.idea/
android/app/key.properties
android/app/google-services.json
android/key.properties
android/google-services.json

node_modules/
package-lock.json
